<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hibernatedb</property>
		<property name="connection.username">hibernate</property>
		<property name="connection.password">hibernate</property>
        <property name="connection.pool_size">100</property>
		<property name="hbm2ddl.auto">create</property>
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="show_sql">true</property>

		<mapping class="com.kiran.model.UserDetails"/>
		<mapping class="com.kiran.model.Vehicle"/>

		<mapping class="com.kiran.model.UserDetailsO2M"/>
        <mapping class="com.kiran.model.VehicleM2O"/>

        <mapping class="com.kiran.model.UserDetailsM2M"/>
        <mapping class="com.kiran.model.VehicleM2M"/>

		<!-- START: Hibernate Inheritance Single Table Strategy -->
        <mapping class="com.kiran.model.strategy.singleTable.Vehicle"/>
        <mapping class="com.kiran.model.strategy.singleTable.TwoWheeler"/>
        <mapping class="com.kiran.model.strategy.singleTable.FourWheeler"/>
        <!-- END: Hibernate Inheritance Single Table Strategy -->

        <!-- START: Hibernate Inheritance Table Per Class Strategy -->
        <mapping class="com.kiran.model.strategy.tablePerClass.VehicleTPC"/>
        <mapping class="com.kiran.model.strategy.tablePerClass.TwoWheelerTPC"/>
        <mapping class="com.kiran.model.strategy.tablePerClass.FourWheelerTPC"/>
        <!-- END: Hibernate Inheritance Table Per Class Strategy -->

        <!-- START: Hibernate Inheritance Table Per Sub Class (JOINED) Strategy -->
        <mapping class="com.kiran.model.strategy.tablePerSubClass.VehicleTPSC"/>
        <mapping class="com.kiran.model.strategy.tablePerSubClass.TwoWheelerTablePerSubClass"/>
        <mapping class="com.kiran.model.strategy.tablePerSubClass.FourWheelerTablePerSubClass"/>
        <!-- END: Hibernate Inheritance Table Per Sub Class (JOINED) Strategy -->

	</session-factory>
</hibernate-configuration>
